<section class="sofi page" id="sofi">
  <div class="container flex">
    <div class="text">
      <div class="title">
        <span
          class="iconify"
          data-icon="mdi-chart-bubble"
          data-inline="false"
        ></span>
        <p>SOFI</p>
      </div>
      <h3>
        Accounting, Finance, Inventory, Distribution and Manufacture Software.
      </h3>
      <p class="max-width">
        SOFI adalah sistem komputer akuntansi lengkap ter-integrasi. Di rancang
        untuk menangani tingginya volume transaksi dengan dukungan database
        handal Microsoft SQL Server.
      </p>
    </div>

    <div class="image margin-top-1">
      <img src="../../assets/undraw_finance_0bdk.svg" alt="finance" />
    </div>
  </div>

  <div class="container">
    <div class="text">
      <p>
        Program SOFI telah teruji dengan stabil pada lebih dari 250 pelanggan
        korporasi kami yang tersebar diseluruh Indonesia. SOFI telah digunakan
        oleh perusahaan dengan berbagai tipe bisnis seperti perkebunan,
        manufaktur, perkapalan, perdagangan, dan lainnya.
      </p>
      <p>
        Anda dapat mendefinisikan kertas kerja di SOFI dengan memasukkan kontrol
        status transaksi. Fungsi ini akan menggantikan kertas kerja manual
        seperti persetujuan dokumen, revisi, ataupun tanda tangan. SOFI juga
        menyediakan fitur analisa biaya per Departemen, Divisi, ataupun per
        Project. Dengan demikian kontrol biaya akan dapat tersajikan secara
        lebih detil dan lebih terperinci.
      </p>
      <p>
        Untuk lebih lanjut silahkan ke
        <a href="https://soficloud.com/">SOFICLOUD.COM</a>
      </p>
    </div>
  </div>

  <!-- features -->
  <div class="container bg-image">
    <div class="text-center margin-top-2">
      <h3>Awesome Features</h3>
      <p>
        Fitur-fitur kami dikembangkan dari kebutuhan costumer-costumer kami.
      </p>
    </div>

    <div class="features flex">
      <!-- row 1 -->
      <div class="flex-column">
        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="ic:outline-security"></span>
          <h5>Security & Authorization</h5>
          <p>
            Manageable Security & Multi Level Authorization. Access group
            definition, multi level authorization for each transaction, and
            audit trail facility.
          </p>
        </div>

        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:wrench"></span>

          <h5>Customizeable Financial Report</h5>
          <p>
            Monthly Comparation, Yearly Comparation, Budget Comparation, Ratio
            Analyst, Department and Division Analyst, Project Analyst. Design
            your financial report with Report Setup Module.
          </p>
        </div>
        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="ic:baseline-autorenew"></span>

          <h5>Recurring Transaction</h5>
          <p>
            Auto journal recurring for recurring transaction. Define your period
            and transaction term.
          </p>
        </div>
      </div>

      <!-- row 2 -->
      <div class="flex-column">
        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:currency-usd"></span>

          <h5>Currency & Forex</h5>
          <p>
            Multi Currency & Home Currency With Forex Calculation. Hanya satu
            kali klik, menciptakan laporan keuangan Anda lebih dari satu mata
            uang dasar dengan perhitungan forex calculation yang lengkap.
          </p>
        </div>

        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:factory"></span>

          <h5>Fixed Assets Management</h5>
          <p>
            Many type of calculation method, auto depreciation journal, cost
            centre allocation journal, fixed asset depreciation report
          </p>
        </div>

        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="bi:cloud-check-fill"></span>

          <h5>Cloud on Or Premise</h5>
          <p>
            You can choose to put your database on cloud or on premise server
          </p>
        </div>
      </div>

      <!-- row 3 -->
      <div class="flex-column">
        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:file-multiple"></span>

          <h5>AP & AR Analyst</h5>
          <p>
            Outstanding Report, Aging Analyst Report, Paid Invoice Report,
            Due/Overdue Report, & Statement of Account Report.
          </p>
        </div>

        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:calendar-multiple"></span>

          <h5>Defineable Fiscal Date</h5>
          <p>
            Create your own fiscal date period, inventory and GL Period. Create
            13 Period for adjustment period
          </p>
        </div>

        <div class="card">
          <!-- icon -->
          <span class="iconify" data-icon="mdi:web"></span>

          <h5>Web Base</h5>
          <p>Applications can be accessed from anywhere with any device</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
