<section class="home page" id="home">
  <div class="container">
    <div class="flex">
      <div class="text">
        <div class="title">
          <span
            class="iconify"
            data-icon="mdi-chart-bubble"
            data-inline="false"
          ></span>
          <p>KENAPA KAMI ADA?</p>
        </div>
        <h3>We are agile, menekankan kelincahan dalam mengambil keputusan.</h3>

        <p class="max-width">
          Membantu perusahaan mengelola sistem informasi yang bisa diakses
          secara global oleh management, karyawan, pelanggan dan pemasok,
          kapanpun, dimanapun, dengan mudah dari berbagai platform.
        </p>
      </div>

      <div class="image">
        <img src="../..//assets/undraw_team_ih79.svg" alt="hero" />
      </div>
    </div>

    <div class="text">
      <p>
        Ketika sebuah usaha telah tumbuh dari yang tadinya hanya dikelola oleh
        satu atau dua orang-owner, menjadi dikelola oleh banyak orang.
        Melibatkan banyak pemasok, dan tentu saja banyak pelanggan. Usaha
        menjadi tidak mudah untuk dikendalikan. Informasi akan kejadian-kejadian
        yang mempengaruhi perusahan berseliweran kesana kemari menjadi sebuah
        kerumitan. Hal ini jika tidak dikelola dengan baik, akan membuat
        sumbatan-sumbatan, yang berakibat pada menurunnya kinerja perusahaan.
      </p>
      <p>
        Kini, ketika arus informasi membesar. Ketika informasi tidak lagi dicari
        bahkan diberikan didorong, dijejalkan. Maka, persaingan menjadi begitu
        berat. Siapa yang berhasil mengelola informasi dengan baik,
        menyajikankan dalam bentuk yang berguna, dia yang akan menjadi pemenang.
        Dan semua itu terjadi sangat cepat.
      </p>

      <p>
        Atas dasar itulah, kami membangun solusi, yang menurut kami adalah core
        dari perusahaan, yaitu: <span class="c-red">accounting</span>,
        <span class="c-red">payroll</span> dan
        <span class="c-red">Human Resources</span>. Kami ingin management,
        karyawan, pemasok bahkan pelanggan bisa
        <span class="c-red">berbagi informasi</span> yang berguna, sesuai
        kebutuhan masing-masing pihak.
      </p>
    </div>
  </div>

  <div class="container bg-image">
    <div class="text-center margin-top-2">
      <h3>Awesome Features</h3>
      <p>
        Fitur-fitur kami dikembangkan dari kebutuhan costumer-costumer kami.
      </p>
    </div>

    <div class="features flex">
      <!-- row 1 -->
      <div class="flex-column">
        <div class="card">
          <!-- icon --><span class="iconify" data-icon="mdi:bomb-off"></span>
          <h5>Tidak Gila Fitur</h5>
          <p>
            Lebih baik punya sedikit fitur yang berguna bagi pelanggan daripada
            banyak fitur tidak berguna [gila fitur].
          </p>
        </div>
        <div class="card">
          <!-- icon --><span
            class="iconify"
            data-icon="mdi:weather-sunny"
          ></span>
          <h5>Informasi Adanya Di Luar</h5>
          <p>
            Informasi adanya di luar bukan di atas meja kami [tidak berasumsi
            bahwa kita tahu apa yang dinginan pelanggan].
          </p>
        </div>
        <div class="card">
          <!-- icon --><span class="iconify" data-icon="mdi:recycle"></span>
          <h5>Siklus Development</h5>
          <p>
            Menekankan pada proses hipotesis, pengujian, pembelajaran,
            pengulangan bukan eksekusi.
          </p>
        </div>
      </div>

      <!-- col 2 -->
      <div class="flex-column">
        <div class="card">
          <!-- icon --><span
            class="iconify"
            data-icon="mdi:image-filter-center-focus-weak"
          ></span>
          <h5>Fokus Pada Segment Tertentu</h5>
          <p>
            Kami hanya focus pada segmen dimana kami ahli dalam yang bersumber
            dari pengalaman kami lebih dari 22 tahun di bisnis software.
          </p>
        </div>
        <div class="card">
          <!-- icon --><span
            class="iconify"
            data-icon="ic:baseline-high-quality"
            s
          ></span>
          <h5>Yakin Pada Produk Berkualitas</h5>
          <p>
            Kami sangat yakin bahwa produk berkualitas akan selalu dicari, kami
            hanya akan deliver produk berkualitas.
          </p>
        </div>
        <div class="card">
          <!-- icon --><span
            class="iconify"
            data-icon="ic:outline-trending-up"
          ></span>
          <h5>Tumbuh Alami</h5>
          <p>
            Eksekusi dilakukan bukan berdasarkan oleh pertumbuhan yang prematur.
            Tumbuh alami bukan karbitan. [Don’t scale too fast]
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
