<section class="covid page" id="covid">
  <div class="container text">
    <h3>Berikut ini adalah pernyataan resmi Inforsys terkait Covid-19</h3>
  </div>

  <div class="container text">
    <p>
      Untuk keluarga besar Inforsys dimanapun Anda berada, Ini adalah surat dari
      CEO PT Inforsys Indonesia untuk Anda staff Inforsys, Partner, Pelanggan,
      Supplier dan semua yang terlibat dalam ekosistem Inforsys terkait
      penyebaran COVID-19 (Virus Corona) yang telah memengaruhi kita semua.
    </p>
    <p class="margin-top-1">Salam sejahtera untuk kita semua</p>
    <p class="margin-top-1">
      Inforsys memiliki komitmen untuk bersama-sama terlibat secara aktif
      menahan laju penularan virus Corona, untuk itu berikut adalah kebijakan
      Inforsys untuk melakukan tindakan preventif penyebaran virus Corona demi
      kesehatan dan keselamatan kita bersama:
    </p>
    <ul class="margin-top-1">
      <li>
        Mohon setiap orang menjaga kebersihan diri. Kantor Inforsys menyediakan
        Hand Sanitizer untuk pencegahan dan meminimalkan penularan virus. Wajib
        menggunakan hand sanitizer saat akan memasuki area kantor dan saat
        meninggalkan area kantor.
      </li>
      <li>
        Mohon menghindari tempat ramai seperti Mall dan pusat-pusat keramaian
        lainnya. Jika memungkinkan gunakan selalu masker dan tidak berinteraksi
        secara fisik dengan orang lain.
      </li>
      <li>
        Semua meeting dan training harap dilakukan secara online. Kami
        menggunakan aplikasi Zoom.us , Microsoft Teams atau Anydesk untuk
        melakukan meeting dan training secara online.
      </li>
      <li>
        Hindari bersentuhan secara langsung, seperti salaman. Klik Video ini
        sebagai alternatif cara bersalaman tanpa bersentuhan dengan tanpa
        mengurangi rasa hormat.
      </li>
      <li>
        Larangan untuk datang ke kantor Inforsys bagi Anda yang mengalami demam
        atau flu, batuk, pilek dan sesak nafas. Segera periksakan diri ke dokter
        atau hubungi 112 atau lapor ke Dinas Kesehatasn setempat.
      </li>
      <li>
        Larangan untuk datang ke kantor Inforsys bagi Anda yang memiliki anggota
        keluarga serumah yang sedang sakit, seperti flu, demam, batuk, sesak
        nafas, Segera periksakan diri ke dokter atau hubungi 112 atau lapor ke
        Dinas Kesehatan setempat.
      </li>
      <li>
        Jika Anda di diagnosa terjangkit Virus Corona atau pernah berinteraksi
        langsung dengan mereka yang terjangkit virus corona, dan pernah datang
        ke kantor Inforsys atau berinteraksi dengan keluarga besar Inforsys,
        baik itu staff, partner, pelanggan, maka segera info ke HRD Inforsys
        secepatnya untuk penanganan lebih lanjut. Email : rita@inforsys.co.id
        atau whatsapp ke : +62 812 7042 4400
      </li>
      <li>
        Mulai senin tanggal 4 Mai 2020 Kantor Batam akan melakukan sterilizasi
        karyawan dan Tamu yang masuk melalui thermal Scanner terlebih dahulu
        oleh resepsionis Jika ada yang tidak lolos Thermal Sanner yakni diatas
        suhu tubuh melebihi 37 derajat maka akan diminta pulang, meninggalkan
        area kantor, dan segera melakukan pemeriksaan ke dokter.
      </li>
    </ul>

    <p class="margin-top-1">
      Untuk Pelanggan dan Partner Inforsys. Kami mengerti bahwa sebagai
      pelanggan dan partner bergantung pada produk Inforsys sepanjang waktu.
      Untuk itu, kami saat ini berusaha keras untuk memastikan produk dan
      layanan Inforsys tetap dapat diakses demi memenuhi kebutuhan semua pihak.
    </p>
    <p class="margin-top-1">Salam hormat</p>
    <p class="margin-top-1">CEO PT Inforsys Indonesia</p>
    <p class="margin-top-1">Orchard Walk Blok C#18</p>
    <p>Jl. Orchard Boulevard</p>
    <p>Orchad Park Batam</p>
    <p>Batam Kota, Kepulauan Riau 29464</p>
    <p>Indonesia</p>
    <p>Phone : +62 778 416 0250</p>
    <p>Mobile: +62 811 7757 634</p>
    <p>Email : hello@inforsys.co.id</p>
    <p>Website : inforsys.co.id</p>
  </div>
</section>
