<section class="contact page" id="contact">
  <div class="container">
    <div class="text-center">
      <h2>Get in touch</h2>
      <p>
        We like to create things with fun, open-minded people. Feel free to say
        hello!
      </p>
    </div>
  </div>

  <!-- form -->
  <div class="container flex">
    <form class="flex flex-2 mr-2">
      <div class="flex">
        <div class="name">
          <h6>Name*</h6>
          <input type="text" placeholder="Your name..." />
        </div>
        <div class="email">
          <h6>Email Address*</h6>
          <input type="text" placeholder="Your email..." />
        </div>
      </div>

      <div class="massage flex">
        <h6>Massage</h6>
        <textarea placeholder="Your massage..." rows="5" cols="40"></textarea>
      </div>
      <button class="btn btn-blue">Send Massage</button>
    </form>
    <div class="address">
      <p class="margin-top-1">hello@inforsys.co.id</p>
      <p class="margin-top-1">inforsys.co.id</p>
      <p class="margin-top-1">+62 778 416 0250</p>
      <p class="margin-top-1">+62 811 7757 634</p>
      <p class="margin-top-1">8:00 AM - 5:00 PM</p>
      <p class="margin-top-1">
        Orchard Walk Blok C#18 Jl. Orchard Boulevard Orchad Park Batam Batam
        Kota Kepulauan Riau Indonesia 29464
      </p>
    </div>
  </div>
</section>
