<section class="career page" id="career">
  <div class="container text-center">
    <h2>We are hiring</h2>
    <p>
      "It doesn't make sense to hire smart people and then tell them what to do;
      <br />
      we hire smart people so they can tell us what to do."
    </p>
    <span class="c-red"> Steve Jobs </span>
  </div>
  <div class="container flex">
    <div class="image margin-top-1">
      <img src="../../assets/undraw_finance_0bdk.svg" alt="finance" />
    </div>
    <div class="text ml-1">
      <div class="title">
        <span
          class="iconify"
          data-icon="mdi-chart-bubble"
          data-inline="false"
        ></span>
        <p>CREATIVE PEOPLES</p>
      </div>
      <h4>
        High Definistion audience: Better Data, better audience, better results.
      </h4>
      <p class="max-width">
        We are a fast-paced, risk-taking, close-knit environment where ideas
        come from everywhere at every level.
      </p>
    </div>
  </div>

  <div class="container text">
    <p class="margin-top-1">
      We believe that diversity of background, talent, skillset and mindset
      creates a flourishing environment for new thinking and ideas.
    </p>
    <p class="margin-top-1">
      We are growing and always looking for new talent.
    </p>
    <p class="margin-top-1">
      If you are driven by challenging work, passionate about media and
      technology and interested in helping to shape the future of our industry,
      we would like to hear from you!
    </p>
    <p class="margin-top-1">
      For people who know Agile and eager to learn and implement, you are at the
      right place. You are welcome
    </p>
    <p class="margin-top-1">
      Your resume will be reviewed by our recruitment team, and we will make
      sure to get in touch with you if your background meets our current needs.
    </p>
    <p class="margin-top-1">Please send your resume to hello@inforsys.co.id</p>
  </div>
</section>
