<section class="privacy page" id="privacy">
  <div class="container text">
    <h3>Privacy Policy</h3>
  </div>

  <div class="container text">
    <h5>Kebijakan Privasi</h5>
    <p>
      PT Inforsys Indonesia (selanjutnya disebut Inforsys) mengumpulkan alamat
      e-mail dari orang yang mengirimkan e-mail. Kami juga mengumpulkan
      informasi tentang apa akses halaman pengguna dan informasi yang diberikan
      kepada kami oleh pengguna melalui survei dan pendaftaran situs. Informasi
      tersebut mungkin berisi data pribadi tentang Anda termasuk alamat Anda,
      nomor telepon, nomor kartu kredit dll. Inforsys melindungi informasi kartu
      kredit sesuai dengan standar keamanan. Kami tidak diperbolehkan untuk
      mengungkapkan informasi pribadi tanpa izin tertulis dari Anda. Namun,
      informasi tertentu yang dikumpulkan dari Anda dan tentang Anda digunakan
      dalam konteks menyediakan layanan kami kepada Anda. Informasi yang kami
      kumpulkan tidak dibagi dengan, dijual atau disewakan kepada orang lain,
      kecuali dalam keadaan tertentu dan yang penggunaan Layanan tersebut
      dianggap telah mendapatkan persetujuan yang valid untuk mengungkapkan
      hal-hal berikut:
    </p>

    <ol>
      <li>
        Inforsys dapat berbagi informasi pribadi dalam rangka untuk menyelidiki,
        mencegah, atau mengambil tindakan terkait dengan aktivitas ilegal,
        dugaan penipuan, situasi yang melibatkan kemungkinan ancaman terhadap
        keselamatan fisik seseorang, pelanggaran istilah Inforsys penggunaan,
        atau sebagaimana diharuskan oleh hukum.
      </li>
      <li>
        Inforsys mempekerjakan perusahaan lain untuk melakukan tugas-tugas atas
        nama kami dan mungkin perlu untuk berbagi informasi Anda dengan mereka
        untuk menyediakan produk dan layanan kepada Anda.
      </li>
      <li>
        Kami akan mentransfer informasi tentang Anda jika Inforsys
        dipindahtangankan kepada perusahaan lain. Dalam hal ini, Inforsys akan
        memberitahu Anda melalui email atau dengan meletakkan pemberitahuan yang
        jelas di situs web Inforsys sebelum informasi tentang Anda yang sudah
        ditransfer menjadi tunduk pada kebijakan privasi yang berbeda.
      </li>
    </ol>
  </div>

  <div class="container text">
    <h5>Apa yang kami lakukan dengan informasi Anda</h5>
    <ol>
      <li>
        Istilah Informasi Pribadi yang digunakan di sini didefinisikan sebagai
        setiap informasi yang mengidentifikasi atau dapat digunakan untuk
        mengidentifikasi, menghubungi atau mencari orang kepada siapa berkaitan
        informasi tersebut. Informasi pribadi yang kami kumpulkan akan tunduk
        pada Kebijakan Privasi ini, sebagai telah diubah dari waktu ke waktu.
      </li>
      <li>
        Ketika Anda mendaftar untuk Inforsys kami menanyakan nama, nama
        perusahaan dan alamat email dan Anda menyatakan kesediaan untuk
        memberikan informasi tersebut ketika Anda bergabung dengan layanan kami.
      </li>
      <li>
        Inforsys menggunakan informasi yang kami kumpulkan untuk keperluan umum
        berikut: produk dan jasa penyediaan, penagihan, identifikasi dan
        otentikasi, peningkatan layanan, kontak, dan penelitian.
      </li>
      <li>
        Sebagai bagian dari pembelian dan penjualan proses pada Inforsys, Anda
        akan mendapatkan alamat email dan / atau alamat pengiriman dari
        pelanggan Anda. Anda setuju bahwa, sehubungan dengan Informasi Pribadi
        pengguna lain yang Anda dapatkan melalui Inforsys atau melalui
        komunikasi Inforsys terkait atau transaksi yang difasilitasi Inforsys,
        Inforsys dengan ini memberikan kepada Anda lisensi untuk menggunakan
        informasi tersebut hanya untuk komunikasi komersial yang menjadi
        tanggung jawab Anda tanpa melibatkan Inforsys. Inforsys tidak mentolerir
        spam. Oleh karena itu, tanpa mengabaikan ketentuan di atas, Anda tidak
        diperbolehkan untuk menambahkan nama seseorang yang telah membeli item
        dari Anda, untuk daftar email Anda (email atau surat fisik) tanpa
        persetujuan mereka.
      </li>
    </ol>
  </div>

  <div class="container text">
    <h5>Keamanan</h5>

    <p>
      Keamanan informasi pribadi Anda adalah sangat penting bagi kami. Bila Anda
      memasukkan informasi sensitif, seperti nomor kartu kredit di formulir
      pendaftaran kami, kami mengenkripsi transmisi informasi menggunakan
      teknologi socket layer yang aman (SSL), namun tidak ada yang bersifat 100%
      terlebih cara Anda menggunakan informasi Anda akan sangat berpengaruh.
      Sementara kami berusaha untuk menggunakan cara-cara yang dapat diterima
      secara komersial untuk melindungi informasi pribadi Anda, kami tidak dapat
      menjamin keamanan mutlak. Jika Anda memiliki pertanyaan tentang keamanan
      di situs Web kami, Anda dapat email kami di hello@inforsys.co.id
    </p>
  </div>

  <div class="container text">
    <h5>Pengungkapan</h5>
    <ol>
      <li>
        Inforsys dapat menggunakan penyedia layanan pihak ketiga untuk
        menyediakan layanan tertentu kepada Anda dan kami dapat berbagi
        informasi pribadi dengan penyedia layanan tersebut. Kami memerlukan
        perusahaan yang dapat berbagi informasi pribadi untuk melindungi data
        yang secara konsisten dengan kebijakan ini dan untuk membatasi
        penggunaan informasi pribadi tersebut kepada kinerja pelayanan untuk
        Inforsys.
      </li>
      <li>
        Inforsys dapat mengungkapkan informasi pribadi dalam situasi khusus,
        seperti untuk mematuhi perintah pengadilan mengharuskan kami untuk
        melakukannya atau ketika tindakan Anda melanggar Ketentuan Layanan.
      </li>
      <li>
        Inforsys tidak menjual atau memberikan informasi pribadi kepada
        perusahaan lain untuk memasarkan produk atau jasa mereka sendiri.
      </li>
    </ol>
  </div>

  <div class="container text">
    <h5>Cookies</h5>
    <p>
      Cookie adalah sejumlah kecil data, yang mungkin termasuk pengenal unik
      anonim. Cookie dikirim ke browser Anda dari situs web dan disimpan pada
      hard drive komputer Anda. Setiap komputer yang mengakses website kami
      ditugaskan cookie untuk menyimpan informasi tersebut.
    </p>
  </div>

  <div class="container text">
    <h5>Google Analytics dan Pemasaran</h5>
    <p>
      Inforsys menggunakan layanan yang disediakan oleh Google yang disebut
      Google Analytics (GA). GA memungkinkan kami untuk menjangkau orang-orang
      yang sebelumnya telah mengunjungi situs kami, dan menunjukkan kepada
      mereka iklan yang relevan ketika mereka mengunjungi situs lain di Internet
      dalam Jaringan Display Google.
    </p>

    <p>
      Cookie dapat digunakan untuk melacak sesi Anda di website kami, untuk
      melayani iklan disesuaikan dari Google dan vendor pihak ketiga lainnya.
      Ketika Anda mengunjungi situs ini, Anda mungkin melihat iklan yang
      diposting di situs oleh Google atau pihak ketiga lainnya. Melalui pihak
      pertama dan cookie pihak ketiga, pihak ketiga tersebut dapat mengumpulkan
      informasi tentang Anda ketika Anda mengunjungi situs ini dan situs-situs
      lain. Mereka mungkin menggunakan data ini untuk menampilkan iklan di situs
      ini dan di Internet berdasarkan kunjungan Anda sebelum website ini dan di
      tempat lain di Internet. Kami tidak mengumpulkan informasi ini atau
      mengontrol isi dari iklan yang akan Anda lihat.
    </p>
    <p>
      Anda mungkin dapat memilih keluar dari iklan Jaringan Display Google
      disesuaikan dengan mengunjungi Preferensi Iklan
      http://www.google.com/ads/preferences/, dan Google Analytics Opt-out
      Browser Add-on http://www.google.ca/ads/preferences/plugin/.
    </p>
    <p>
      Penggunaan Anda atas situs ini tanpa memilih keluar berarti bahwa Anda
      memahami dan menyetujui pengumpulan data untuk menyediakan Anda dengan
      pemasaran ulang iklan menggunakan GA dan cookie dari vendor pihak ketiga
      lainnya berdasarkan kunjungan Anda sebelum website ini dan di tempat lain
      di Internet.
    </p>
  </div>
  <div class="container text">
    <h5>Perubahan terhadap Kebijakan Privasi</h5>
    <p>
      Inforsys berhak untuk mengubah pernyataan privasi ini setiap saat,
      sehingga Anda disarankan untuk selalu meninjau ulang perubahan sesering
      mungkin. Jika kami membuat perubahan penting terhadap kebijakan ini, kami
      akan memberitahu Anda di sini atau dengan cara pemberitahuan di homepage
      kami sehingga Anda mengetahui informasi apa yang kami kumpulkan dan
      bagaimana kami menggunakannya.
    </p>
  </div>
</section>
