.page {
  background: url("../../assets/hero-1-bg-img.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;

  .flex {
    .text {
      flex: 1;
    }

    .image {
      flex: 1;
      img {
        width: 100%;
      }
    }
  }
}

// when screen is smaller then 900px : execute this code
@media screen and (max-width: 56.25rem) {
  .image {
    margin-top: 0;
  }
}
