@import "../style/page";

.home {
  .flex {
    margin: 0 0 2rem 0;
  }
  .text {
    margin: 3rem 0;
  }
}

@media screen and (min-width: 56.26rem) {
  .max-width {
    max-width: 25rem;
    // background-color: rgb(153, 153, 255);
  }
}
