<section class="home page" id="home">
  <div class="container">
    <div class="flex">
      <div class="text">
        <h2>
          Focus on Your <br />
          Business
        </h2>

        <p class="max-width">
          Lebih dari dua dekade kami melayani mulai dari bisnis retail sampai
          korporasi dengan banyak cabang. Mulai dari UMKM sampai perusahaan
          multinasional dengan puluhan ribu karyawan.
        </p>
      </div>

      <div class="image">
        <img src="../../assets/undraw_business_deal_cpi9.svg" alt="hero" />
      </div>
    </div>

    <div class="text">
      <p>
        Software-software kami membantu perusahaan merancang, mengeksekusi dan
        melaporkan bisnis model mereka. Sehingga mereka dapat menjalankan
        perusahaannya dengan efektif, effisien dan susteinable
      </p>
    </div>
  </div>
</section>
<br />
<br />
<br />
